<% content_for :page_title, "Blog" %>


<h1>Blog</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem ad ex, ducimus quas, est libero harum quae repellat recusandae, quam enim beatae veritatis, officiis maxime quod blanditiis. Rem, beatae culpa. </p>
